@font-face {
    font-family: 'TT Norms Pro Bold';
    src: local('TT Norms Pro Bold'), url("C:/Users/ASUS/Desktop/tt-norms-pro-cufonfonts/TT Norms Pro ExtraBold.otf") format('otf');
}
@font-face {
    font-family: 'TT Norms Pro Regular';
    src: local('TT Norms Pro Bold'), url("C:/Users/ASUS/Desktop/tt-norms-pro-cufonfonts/TT Norms Pro Regular.otf") format('otf');
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #fff7af, #ffaff5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: 100vw 100vh;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #ff7272;
    /* overflow: hidden; */
    height: 3vw;
    width: 100%;
    align-items: center;
    gap:6%;
}

.topnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;

}

.menu-icon img {
    width: auto; /* Adjust the width as needed */
    height: 1.7vw; /* Maintain aspect ratio */
}

.first, .second{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left{
    width: 50%;
    gap: 5%;
    padding-bottom: 60px;
}

.center{
    padding: 20%
}

.heading{
    display: inline-block;
    margin: 0;  
}

.heading h1{
    font-size: 40px;
    font-family: 'TT Norms Pro Bold', sans-serif;
}

.para p{
    letter-spacing: 0.2cap;
    font-family: 'TT Norms Pro Regular',sans-serif;
}
.para, .btn{
    margin-bottom: 10%;
}

.btn{
    display: inline-block;
    padding: 2% 10%;
    margin: 0;
    background-color: #ff7272;
    justify-content: center;
}   

.btn button{
    font-size: 15px;
    font-family: 'TT Norms Pro Regular',sans-serif;
    background-color: transparent;
    border: none;
    color:white;
    text-align: center;
    opacity: 0.8;
}

.right{
    background-image: url("HTML CSS Assignment/pexels-robin-stickel-70497.jpg");
    width: 50%;
    background-size: cover;
    background-position: center;
}

.left-page-2{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 2%;
}

.right-page-2{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.imgs{
    display: flex;
    height: 50%;
    width: 70%;
}
.left-imgs{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.up-img{
    width: 100%;
    height: 50%;
    margin-bottom: 0.5vw;
    background-image: url("HTML CSS Assignment/pexels-rachel-claire-6752433.jpg");
    background-size: cover;
    background-position: center;
}

.bottom-img{
    width: 100%;
    height: 50%;
    background-image: url("HTML CSS Assignment/pexels-eva-bronzini-6141651.jpg");
    background-size: cover;
    background-position: center;
}

.right-img{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    background-image: url("HTML CSS Assignment/pexels-mister-mister-3434523.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    background-color: #ff7272;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 30%;
    padding-left: 3%;
    
}

.top-content{
    padding: 3% 3% 0% 3%;
}
.top-content h3{
    font-family: 'TT Norms Pro Regular',sans-serif;
    font-weight: lighter;
    font-size: 80%;
}

.top-content, .mid-content {
    margin-bottom: -9%;
}


.mid-content{
    padding: 3%;
    letter-spacing: 0.5cap;
    font-weight: bold;
}

.mid-content h1 {
    font-family: 'TT Norms Pro Bold',sans-serif;
    font-weight: bold;
    font-size: 260%;
}

.click-container{
    padding: 3%;
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 768px){
    .topnav {
        height: auto;
      }

    .first, .second{
        flex-direction: column;
    }

    .left{
        height: 50%;
        width: 100%;
    }

    .right{
        height: 50%;
        width: 100%;
    }

    .center{
        padding: 4%;
        margin-bottom: 5%;
    }

    .left-page-2{
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    .imgs{
        height: 50%;
    }
    .left-imgs{
        height: 100%;
    }
    .up-img, .bottom-img{
        height: 50%;
    }
    .right-img{
        height: 100%;
    }
    .right-page-2{
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    .content{
        height: 70%;
        width: 65%;
    }

    .top-content, .mid-content{
        margin-bottom: -5.5%;
    }
    .mid-content{
        font-size: 70%;
    }
    
}





